.Clothing_suggestion {
  border-radius: 3rem;
  background-color: black;
  color: white;
  opacity: 0.7;

  height: 35rem;
  width: 30rem;
  font-size: 15px;
  align-items: center;
  margin-left: 50%;
  padding: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Img {
  height: 20rem;
  background-size: contain;
  width: 20rem;
  margin-left: 3rem;
} 
h3 {
  text-align: center;
  padding: 10px;
  letter-spacing: 0.2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.shop_now {
  margin-top: 30px;
  margin-left: 8rem;
  border: none;
  background-color: rgb(222, 185, 49);
  color: black;
  border-radius: 2rem;
  width: 10rem;
  padding: 6px;
  margin-bottom: 2px;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

@media (max-width: 500px) {


  .Clothing_suggestion {
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    opacity: 0.7;
  margin-top: 2rem;
    height: 26rem;
    width: 19.5rem;
    font-size: 15px;
    align-items: center;
    margin-left: 9%;
    padding: 2.5rem 0.1rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .Img {
    height: 12rem;
    background-size: contain;
    width: 12.5rem;
   
    margin-left: 3.5rem;
  }
  .shop_now {
    margin-top: 30px;
    margin-left: 4rem;
    border: none;
    background-color: rgb(222, 185, 49);
    color: black;
    border-radius: 2rem;
    width: 10rem;
    padding: 6px;
    margin-bottom: 2px;
    letter-spacing: 3px;
    font-size: 1.5rem;
  }
  
}