@media (max-width: 780px) {
  .InfoCard {
    border: 2px solid black;
    border-radius: 3rem;
    background-color: black;
    color: white;
    opacity: 0.7;
    padding: 3rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    height: 30rem;
    font-size: 15px;

  }

  .cards {
    border: 2px solid black;
    border-radius: 3rem;
    background-color: black;
    color: white;
    opacity: 0.7;
    padding: 3rem;
    font-size: 1.5rem;
   
    height: 30rem;
  }
}
