.panel-dark {
  background-color: darkblue;
  color: white;
}

.panel-white {
  background-color: white;
  color: black;
}

.button-dark {
  background-color: blueviolet;
margin: 1rem;
  color: white;
}

.button-light {
  background-color: rgb(233, 228, 228);
  margin: 1rem;
  color: black;
}
